UseTab: Always
TabWidth: 4
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
ColumnLimit: 80
IncludeBlocks: Preserve
SortIncludes: Never
